body {
    margin: .5rem;
}

header a {
    display: flex;
    justify-content: flex-end;
    padding-right: 1rem;
}

header h1 {
    text-align: center;
}

h2, h5 {
    text-align: center;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

/* Menu */
.menu {
    display: none;
    flex-basis: auto;
}

.menu-small {
    flex-basis: auto;
    text-align: center;
    padding-bottom: 1rem;
}

menu-small:hover{
    color: blue;
}

.dropdown-menu {
    display: none;
}

.dropdown:hover {
    .dropdown-menu {
        display: block;
    }
}

/* Todo List */
.todo-list, .todo-list-over-due{
    text-align: left;
    background-color: azure;
    margin-left: auto;
    margin-right: auto;
    flex-basis: 75%;
}

.todo-list-over-due{
    color:red;
    margin-bottom: 2rem;

}

.AddForm {
    text-align: left;
    margin-top: 1rem;
    margin-left: 2rem;
}

#todo li {
    display: flex;
    margin-bottom: 1rem;
}

.task-detail {
    flex: 1;
    padding-left: 1rem;
}

.detail-btn {
    margin-left: 1rem;
    margin-right: .5rem;
    display: none;
}

.delete-btn {
    display: none;
}

.date {
    padding-left: 1rem;
}

/* media */
@media (max-width: 598px) {

}

@media (min-width: 768px) {
    .detail-btn {
        display: block;
    }
    
    .delete-btn {
        display: block;
    }

    .menu {
        display: block;
    }

    .menu table{
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 1rem;
    }

    .menu td {
        text-align: center;
    }

    .menu-small {
        display: none;
    }
}

@media (min-width: 992px) {
    
}

@media (min-width: 1200px) {

}

